In [ ]:
import math
n=int(input())
*y,=map(int,input().split(' '))
w=0
res=""
for i in y:
    s=abs(i-w)
    k=int(math.log2(s))
    if(k==26):
        res+=" "
    else:
        res+=chr(97+k)
    w=i
print(res)

In [ ]:
n, m =input().split()
m=int(m)
n=int(n)
x=[]
for i in range(n):
    y=input()
    y=list(y)
    l=0
    r=m-1
    while l<r:
        tmp=y[l]
        y[l]=y[r]
        y[r]=tmp
        l+=1
        r-=1
    x.append(y)
    
    
l=0
r=n-1
while l<r:
    tmp=x[l]
    x[l]=x[r]
    x[r]=tmp
    l+=1
    r-=1
    
i=n-2
while i>=0:
    for j in range(m):
        if x[i][j]=='/'or x[i][j]=='\\':
            x[i+1][j]=x[i][j]
            x[i][j]='.'
    i-=1
            

for i in x:
    print(''.join(i))

In [ ]:
print(''.join(x[0]))

In [ ]:
./x\.

In [ ]:
n, m =int(input().split())
arr = [
.............
    ''
]
...._........
.._/A\_..._..
./B\_/D\_/F\.
.\_/C\_/E\_/.
...\_/G\_/...
.....\_/.....
.............
'

In [ ]:
""+"\"

In [ ]:
n =int(input())
#x=[]
x={}
for i in range(n):
    *y,=map(int,input().split())
    x.update({i:y})
x=sorted(x)
for i in range(n):
    count=0
    for j in range(n):
        if i==j:
            continue
        elif x[i][0]>=x[j][2] or x[i][2]<=x[j][0] or x[i][1]>=x[j][3] or x[i][3]<=x[j][1]:
            continue
        else:
            count+=1
    count=str(count)
    if i==n-1:
        print(count)
    else:
        print(count, end=" ")

In [ ]:
n =int(input())
x=[]
# x={}
for i in range(n):
    *y,=map(int,input().split())
    x.append(y+[i])
x=sorted(x, key=lambda xx: xx[0])
print(x)
for v in x:
    print(v)

n,m,l=int(input().split())
x=[]
for _ in range(n):

In [ ]:
import numpy as np
n,m,l=map(int, input().split())
x=[]
for _ in range(n):
    z=list(map(int,input().split()))
    x.append(z)
y=[]
for _ in range(m):
    z1=list(map(int,input().split()))
    y.append(z1)
a = np.array(x)
b = np.array(y)
total = a.dot(b)
print('\n'.join([' '.join(list(map(str, total[i]))) for i in range(n)]))

In [ ]:
print('\n'.join([' '.join(list(map(str, total[i]))) for i in range(n)]))

In [ ]:
import sqlite3
 
# Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('logs.db')
 
# cursor object
cursor = connection_obj.cursor()
 
# Drop the GEEK table if already exists.
cursor.execute("DROP TABLE IF EXISTS logs")
 
# Creating table
table = """ CREATE TABLE logs (
            user_id VARCHAR(255) NOT NULL,
            time INT
        );  """
        


cursor.execute(table)
 
print("Table is Ready")
# print()

cursor.execute("""insert into logs (user_id, time) values ("u1", 0); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 20); """)
cursor.execute("""insert into logs (user_id, time) values ("u2", 30); """)
cursor.execute("""insert into logs (user_id, time) values ("u2", 40); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 40); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 60); """)
cursor.execute("""insert into logs (user_id, time) values ("u2", 65); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 80); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 130); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 150); """)
cursor.execute("""insert into logs (user_id, time) values ("u1", 200); """)
# cursor.execute("SELECT user_id, count(time.shift()-time>30) FROM logs group by user_id")
cursor.execute("select user_id, sum(c)+1 as cnt from (SELECT user_id, ((time-Lag(time,1) OVER (PARTITION BY user_id ORDER BY time ) )>30 ) as c FROM logs) group by user_id order by user_id")
for row in cursor:
    print(row)

    
    
# Close the connection
connection_obj.close()

In [ ]:
n=input()
n=int(n)
x=[]
k=input()
k=int(k)
for _ in range(k):
    z=input()
    z=int(z)
    x.append(z)
x=sorted(x)
flag=0
for i in range(n-k):
    z1=input()
    z1=int(z1)
    x.append(z1)
    x=sorted(x)
    if(x.index(z1)/(len(x)-1))>=0.9:
        print(i+k)
        flag=1
        break
if not flag:
    print(-1)

n=input()
n=int(n)
for i in range(n)

In [3]:
# import itertools
from scipy.special import comb
n=input().split()
res=1
for i in range(1,int(n[0])+1):
    z=n[i].split(":")
    z1,z2=int(z[0]), int(z[1])
    z1,z2=min(z1,z2),max(z1,z2)
    if i!=5 and z2==25 or i==5 and z2==15:
        res*= comb(z2+z1-1, z1, exact=True) #len(list(itertools.combinations_with_replacement(range(1, z2+1),z1)))
    elif i!=5:
        res*=comb(24+24-1, 24, exact=True)*2**(z2-26)#(len(list(itertools.combinations_with_replacement(range(1, 25),24)))*(2**(z2-26)))
    else:
        res*=comb(14+14-1, 14, exact=True)*2**(z2-16)#(len(list(itertools.combinations_with_replacement(range(1, 15),14)))*(2**(z2-16)))
print(res)

3 25:1 35:33 27:25
6655410837134621985443904000000

In [ ]:
3 25:1 35:33 27:25